<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.skyui.module.ugc" >

    <application
        android:theme="@style/AppTheme.Base">
        <activity
            android:name="cn.skyui.module.ugc.activity.UserActivity"
            android:label="个人主页"
            android:theme="@style/AppTheme.Full.NoTitle"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.skyui.module.ugc.activity.FansActivity" android:label="粉丝" android:screenOrientation="portrait"/>
        <activity android:name="cn.skyui.module.ugc.activity.PhotoActivity" android:label="" android:screenOrientation="portrait"/>
        <activity android:name="cn.skyui.module.ugc.activity.VideoActivity" android:label="" android:screenOrientation="portrait"/>
        <activity android:name="cn.skyui.module.ugc.activity.LikesActivity" android:label="" android:screenOrientation="portrait"/>
        <activity android:name="cn.skyui.module.ugc.activity.PublishActivity" android:label="发布动态" android:screenOrientation="portrait"/>
        <activity android:name="cn.skyui.module.ugc.activity.SearchActivity" android:label="" android:screenOrientation="portrait"/>
        <activity android:name="cn.skyui.module.ugc.activity.SettingActivity" android:label="设置" android:screenOrientation="portrait"/>
        <activity android:name="cn.skyui.module.ugc.activity.BlacklistActivity" android:label="黑名单" android:screenOrientation="portrait"/>
        <activity android:name="cn.skyui.module.ugc.activity.AboutActivity" android:label="关于" android:screenOrientation="portrait"/>
    </application>

</manifest>
